<h3>Lost objects</h3>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @eletronics.each do |eletronic| %>
      <tr>
        <td class="nome"><%= link_to eletronic.name, eletronic %></td>
        <td class="nome"><%= eletronic.year %></td>
        <td class="nome"><%= eletronic.brand %></td>
      </tr>
    <% end %>

		<% @clothes.each do |clothe| %>
      <tr>
			  <td class="nome"><%= link_to clothe.name.capitalize, clothe %></td>
        <td class="nome"><%= clothe.color.capitalize %></td>
			  <td class="nome"><%= clothe.tissue.capitalize %></td>
			  <td class="nome"><%= clothe.tamanho.capitalize %></td>
      </tr>
	<% end %>

	<% @things.each do |thing| %>
      <tr>
			<td class="nome"><a href=""><%= link_to thing.name.capitalize, thing %></td></a>
      </tr>
	<% end %>

  </tbody>
</table>

<br>

