<table class="table">
	<thead>
		<th>Name</th>
		<th>Type</th>
	</thead>
	<tbody>
		<% @result.each do |result| %>
			<% unless result.nil? %>
				<tr>
					<td><%= link_to result.name, result %></td>
					<td><%= result.class.to_s %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>