<p id="notice"><%= notice %></p>

<h3>Listing Things</h3>

<div class="bt-right">
 <div class="pull-right">
    <%= button_to new_thing_path, class: 'btn btn-success', :method=> :get do %>
      <i class="glyphicon glyphicon-plus", aria-hidden="true"></i> New Thing
    <% end %>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
			<th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
	<td class="nome"><%= thing.name %></td>

        <right><td><%= button_to thing, class: 'btn btn-default', :method=> :get do %>
           <i class="glyphicon glyphicon-eye-open"> Show</i>
        <% end %></td>
        <td><%= button_to edit_thing_path(thing), class: 'btn btn-primary', :method=> :get do %>
           <i class="glyphicon glyphicon-pencil"> Edit</i>
        <% end %></td>
        <td><%= button_to thing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
           <i class="glyphicon glyphicon-trash"> Destroy</i>
        <% end %></td></right>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
