<p id="notice"><%= notice %></p>

<h3>Listing Clothes</h3>

<div class="bt-right">
 <div class="pull-right">
    <%= button_to new_clothe_path, class: 'btn btn-success', :method=> :get do %>
      <i class="glyphicon glyphicon-plus", aria-hidden="true"></i> New Clothes
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      	<th>Name</th>
     	<th>Color</th>
      	<th>Tissue</th>
      	<th>Tamanho</th>
      	<th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clothes.each do |clothe| %>
      <tr>
		<td><%= clothe.name %></td>
        <td><%= clothe.color %></td>
        <td><%= clothe.tissue %></td>
        <td><%= clothe.tamanho %></td>
        <right><td><%= button_to clothe, class: 'btn btn-default', :method=> :get do %>
          <i class="glyphicon glyphicon-eye-open"> Show</i>
        <% end %></td>
        <td><%= button_to edit_clothe_path(clothe), class: 'btn btn-primary', :method=> :get do %>
          <i class="glyphicon glyphicon-pencil"> Edit</i>
        <% end %></td>
        <td><%= button_to clothe, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' do %>
          <i class="glyphicon glyphicon-trash"> Destroy</i>
        <% end %></td></right>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

