<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clothe.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @clothe.color %>
</p>

<p>
  <strong>Tissue:</strong>
  <%= @clothe.tissue %>
</p>

<p>
  <strong>Size:</strong>
  <%= @clothe.tamanho %>
</p>

<center><%= link_to 'Edit', edit_clothe_path(@clothe) %> |
<%= link_to 'Back', clothes_path %></center>
