<%= bootstrap_form_for(@eletronic) do |f| %>
  <% if @eletronic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eletronic.errors.count, "error") %> prohibited this eletronic from being saved:</h2>

      <ul>
      <% @eletronic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name %>
    <%= f.text_field :year %>
    <%= f.text_field :brand %>
    <center><%= f.submit %></center>

<% end %>
