<p id="notice"><%= notice %></p>

<h3>Listing Eletronics</h3>
<div class="bt-right">
	<div class="pull-right">
		<%= button_to new_eletronic_path, class: 'btn btn-success', :method=> :get do %>
			<i class="glyphicon glyphicon-plus", aria-hidden="true"></i> New Eletronic
		<% end %>
	</div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eletronics.each do |eletronic| %>
      <tr>
        <td><%= eletronic.name %></td>
        <td><%= eletronic.year %></td>
        <td><%= eletronic.brand %></td>
        <right><td><%= button_to eletronic, class: 'btn btn-default', :method=> :get do %>
            <i class="glyphicon glyphicon-eye-open"> Show</i>
          <% end %></td>
        <td><%= button_to edit_eletronic_path(eletronic), class: 'btn btn-primary', :method=> :get do %>
          <i class="glyphicon glyphicon-pencil"> Edit</i>
        <% end %></td></right>
        <td><%= button_to eletronic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
           <i class="glyphicon glyphicon-trash"> Destroy</i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


