<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eletronic.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @eletronic.year %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @eletronic.brand %>
</p>

<center><%= link_to 'Edit', edit_eletronic_path(@eletronic) %> |
<%= link_to 'Back', eletronics_path %></center>
