// Place all the styles related to the Eletronics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bt-right {
	.pull-right {
		padding: 0;
	}
}
