// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Classes
.pull-right {
	padding-left: 10%;
	padding-right: 10%;
}

