<!DOCTYPE html>
<html>
	<head>
	<title>Achados e Perdidos</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
	</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/">Achados e Perdidos</a>
    </div>
  	<%= form_for :search, method: :get, url: search_index_path, html: { class: "navbar-form navbar-right" }  do |f| %>
			<div class="form-group">
				<%= f.text_field :search %>
			</div>
			<% f.submit %>
  	<% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"> Usuário </span><span class="caret"></span></a>
          <ul class="dropdown-menu">
           <% if user_signed_in? %>
      			Logged in as <strong><%= current_user.email %></strong><br>
      			<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
      			<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
    		<% else %>
      			<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> </li>
      			<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
    		<% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div id="main-container" class="container">
      <div class="row">
		<div class="text-center">
			<%= link_to image_tag("achadosbannerfinal.png"), root_path %>
		</div>
		<div class="col-xs-2">
			<div class="opc">
				<div class="row">
					<%= button_to eletronics_path, class: 'btn btn-success', :method=> :get do %>
						Eletronics
					<% end %>
				</div>
				<div class="row">
					<%= button_to clothes_path, class: 'btn btn-success', :method=> :get do %>
						Clothes
					<% end %>
				</div>
				<div class="row">
					<%= button_to things_path, class: 'btn btn-success', :method=> :get do %>
						Other Things
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-xs-8">
			<%= yield %>
			<div class="col-xs-12">
				<p class="text-justify">
				<i>Essa aplicação comunitária tem por objetivo auxiliar alunos da Faculdade do Gama a reencontrarem objetos perdidos.</i>
				</p>
			</div>
      	</div>
	</div>
</div>
</body>
</html>
